<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/jquery-ui/jquery-ui.css"></link>
    <link rel="stylesheet" href="/jquery-ui/jquery-ui.structure.css"></link>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery-contextmenu/dist/jquery.contextMenu.min.css"></link>
    <style type="text/css">
        /* Prevent the text contents of draggable elements from being selectable. */
        [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
        }

        #BOARD {
            height: 80vh;
            left: 1vw;  
            width: 98vw;
            top: 20vh;
            position: absolute;
            z-index: 0;
        }

        .ui.popup {
            min-width: 200px;
            max-width: 400px;
        }

        #CONTROL-PANEL {
            top: 2vh;
            right: 2vw;
            position: absolute;
        }
        .area, .fbs-card, .sakura-token {
            position: absolute !important;
        }
        
        .fbs-card[draggable]:hover,
        .fbs-card.droppable.over,
        .fbs-card.clickable:hover,
        .fbs-vigor-card .vigor0.clickable:hover,
        .fbs-vigor-card .vigor1.clickable:hover,
        .fbs-vigor-card .vigor2.clickable:hover{
            box-shadow: 0 0 2px 1px #7098ff;
        }
        .fbs-card.selected{
            border: 2px solid rgb(0, 100, 255);
        }

        .fbs-card {
            width: 100px;
            height: 140px;
            background-size: contain;
            background-repeat: no-repeat;
            border: 1px solid rgb(232, 232, 232);
            border-radius: 4px;
        }

        .fbs-vigor-card {
            position: absolute;
        }

        .rotated {
            transform: rotate(90deg);
        }
        .reverse-rotated {
            transform: rotate(-90deg);
        }
        .opponent-side {
            transform: rotate(180deg);
        }
        .opponent-side.rotated {
            transform: rotate(270deg);
        }
        .opponent-side.reverse-rotated {
            transform: rotate(90deg);
        }
        .sakura-token {
            width: 26px;
            height: 26px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(/furuyoni_commons/others/sakura_token.png);
            transform: rotate(40deg);
        }

        .fbs-card.open-normal, .fbs-card.open-special {
            background-color: rgb(219, 235, 245);
        }

        .fbs-card.back-normal {
            background-image: url(/furuyoni_commons/cards/cardback_normal.png);
        }

        .fbs-card.back-special {
            background-image: url(/furuyoni_commons/cards/cardback_special.png);
        }
        .fbs-vigor-card {
            width: 140px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/furuyoni_commons/cards/vigor.png);
        }
        .area.background {
            z-index: -1;
            margin: 0;
        }

        .area.droppable {
            z-index: -999;
        }

        .area.background.over {
            background: rgb(239, 249, 252);
        }
        
        .area.used {
            left: 0px;
            top: 80px;
            width: 450px;
            height: 150px;
        }

        .area.hidden-used {
            left: 470px;
            top: 80px;
            width: 170px;
            height: 140px;
        }

        .area.library {
            left: 720px;
            top: 80px;
            width: 160px;
            height: 160px;
        }


        .area.vigor {
            left: 900px;
            top: 90px;
            width: 140px;
            height: 140px;
        }
        .fbs-vigor-card .vigor0 {
            width: 30px;
            height: 100px;
            left: 0;
            z-index: 9999;
            position: absolute;
        }
        .fbs-vigor-card .vigor1 {
            width: 140px;
            height: 30px;
            top: 0;
            left: 0;
            z-index: 9999;
            position: absolute;
        }
        .fbs-vigor-card .vigor2 {
            width: 30px;
            height: 100px;
            right: 0;
            z-index: 9999;
            position: absolute;
        }

        .area.hand {
            top: 250px;
            width: 700px;
            height: 150px;
        }


        .area.special {
            top: 250px;
            left: 720px;
            width: 330px;
            height: 150px;
        }


        .area.sakura-token-region {
            height: 30px;
        }

        .area.sakura-token-region .draw-region {
            position: absolute;
            top: 0;
            height: 100%;
            left: 4em;
        }
        .area.distance {
            left: 0;
            top: 0px;
            width: 400px;
        }

        .area.distance.background {
            border: 1px silver solid;
        }

        .area.dust {
            left: 0;
            top: 40px;
            width: 400px;
        }

        .area.dust.background {
            border: 1px gray solid;
        }

        .area.aura {
            left: 500px;
            top: 410px;
            width: 250px;
        }

        .area.aura.background {
            border: 1px rgb(211, 202, 78) solid;
        }

        .area.life {
            left: 500px;
            top: 450px;
            width: 400px;
        }

        .area.life.background {
            border: 1px rgb(241, 173, 153) solid;
        }

        .area.flair {
            left: 500px;
            top: 490px;
            width: 400px;
        }

        .area.flair.background {
            border: 1px rgb(253, 58, 52) solid;
        }

        .area-title {
            position: absolute;
            font-size: medium;
            color: silver;
            z-index: 5000;
            right: 8px;
            top: 8px;
        }
        .card-count {
            position: absolute;
            font-size: x-large;
            color: silver;
            font-weight: bold;
            z-index: 5000;
            right: 8px;
            bottom: 8px;
        }
        .sakura-token-count {
            position: absolute;
            font-size: medium;
            color: silver;
            font-weight: bold;
            z-index: 5000;
            right: 8px;
            bottom: 8px;
        }

        #ACTION-LOG-WINDOW , #CHAT-LOG-WINDOW{
            position: absolute;
            width: 20%;
            height: 80%;
            display: none;
        }

        #ACTION-LOG-AREA {
            width: 95%;
            height: 95%;
            font-size: small;
        }
        #CHAT-LOG-AREA {
            width: 95%;
            height: 80%;
            font-size: small;
        }

        .dragging {
            opacity: 0.4;
        }


    </style>
</head>
<body>
<div id="BOARD2"></div>
<div id="BOARD">

</div>

<!-- <div id="CONTROL-PANEL">
        <button class="ui basic button">直前の操作を取り消す</button>
            <button class="ui basic button" id="TURN-END-BUTTON">ターン終了</button>
            <button class="ui basic button" id="ACTION-LOG-DISPLAY-BUTTTON">ログを表示</button>
            <button class="ui basic button" id="CHAT-LOG-DISPLAY-BUTTTON">チャットを表示</button>
            <div class="ui basic buttons">
                <button class="ui button">前進</button>
                <button class="ui button">離脱</button>
                <button class="ui button">後退</button>
                <button class="ui button">纏い</button>
                <button class="ui button">宿し</button>
            </div>
    <div>
            <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" name="example1" class="hidden">
                    <label>オーラ最大値無限</label>
                  </div>
                  <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" name="example2" class="hidden">
                        <label>集中力最大値無限</label>
                      </div>

                      <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Label</label>
                          </div>
                      <button class="ui basic button">ゲーム外のカードを加える</button><br>
                      <button class="ui basic button" id="MEGAMI-SELECT-BUTTON">メガミ選択</button>
                      <button class="ui basic button disabled" id="DECK-BUILD-BUTTON">デッキ構築</button>
                      <button class="ui basic button disabled" id="HAND-SET-BUTTON">最初の手札を引く</button>
    </div>

    <table class="ui definition table" style="width: 25em;">
            <tbody>
              <tr>
                <td class="collapsing">プレイヤー1</td>
                <td id="P1-NAME"></td>
              </tr>
              <tr>
                <td>プレイヤー2</td>
                <td id="P2-NAME"></td>
              </tr>
              <tr>
                <td>観戦者</td>
                <td></td>
            </tr>
          </tbody></table>

</div>
<div id="ACTION-LOG-WINDOW" class="ui segment draggable ui-widget-content resizable">
    <div class="ui top attached label">ログ</div>
    <div id="ACTION-LOG-AREA"></div>
</div>
<div id="CHAT-LOG-WINDOW" class="ui segment draggable ui-widget-content resizable">
    <div class="ui top attached label">チャット</div>
    <div id="CHAT-LOG-AREA"></div>
    <div>
        <form class="ui form">
            <div class="fields">
                <div class="field" style="width: 80%;">
                    <input type="text" name="body">
                </div>
                <div class="field" style="width: 20%;">
                <button class="ui button" id="CHAT-SEND-BUTTON">送信</button>
                </div>
            </div>
        </form>
    </div>
</div> -->

<div class="ui modal tiny" id="MESSAGE-MODAL">
    <div class="content">
        <div class="description">
        </div>

    </div>
    <div class="actions">
        <div class="ui positive labeled icon button">
        確定
        <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui modal tiny" id="INPUT-MODAL">
        <div class="content">
            <div class="description">
                <div class="description-body"></div>
                    <div class="ui input">
                            <input style="width: 20em;">
                        </div>
            </div>
    
        </div>
        <div class="actions">
            <div class="ui positive labeled icon button">
            確定
            <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

<div class="ui modal tiny" id="CONFIRM-MODAL">
    <div class="content">
        <div class="description">
        </div>
    </div>
    <div class="actions">
            <div class="ui positive labeled icon button">
                はい
                <i class="checkmark icon"></i>
            </div>
            <div class="ui black deny button">
                いいえ
            </div>
        </div>
</div>
<div class="ui modal" id="MEGAMI-SELECT-MODAL">
    <div class="content">
        <div class="description" style="margin-bottom: 2em;">
            <p>使用するメガミを2柱選択してください。</p>
        </div>
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <select id="MEGAMI1-SELECTION" name="megami1">
                        <option value=""></option>
                    </select>
                </div>
                <div class="field">
                    <select id="MEGAMI2-SELECTION" name="megami2">
                            <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>

    <div class="actions">
        <div class="ui positive labeled icon submit button disabled">
            決定
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button">
            キャンセル
        </div>
    </div>
</div>

<div id="DECK-BUILD-MODAL">
</div>

<script type="text/javascript">
    var params = {boardId: '<%= boardId %>', side: '<%= side %>'};
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/semantic/dist/semantic.js"></script>
<script type="text/javascript" src="/jquery-contextmenu/dist/jquery.ui.position.js"></script>
<script type="text/javascript" src="/jquery-contextmenu/dist/jquery.contextMenu.min.js"></script>
<script type="text/javascript" src="/dist/main.js"></script>
</body>
</html>