<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127139577-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127139577-1');
</script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://inazumaapps.info/furuyoni_simulator/deliv/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="http://inazumaapps.info/furuyoni_simulator/deliv/jquery-ui/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="http://inazumaapps.info/furuyoni_simulator/deliv/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery-contextmenu/dist/jquery.contextMenu.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic-ui-range/range.css">
    <link rel="stylesheet" type="text/css" href="http://inazumaapps.info/furuyoni_simulator/deliv/toastr/toastr.min.css">
    <style type="text/css">
        /* Prevent the text contents of draggable elements from being selectable. */
        [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
        }

        /* disabled basic button fix */ 
        .ui.disabled.active.basic.button, .ui.disabled.basic.button, .ui.disabled.basic.button:hover {
            box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset !important;
            -webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset !important;
        }

        /* #BOARD {
            height: 80vh;
            left: 1vw;  
            width: 98vw;
            top: 20vh;
            position: absolute;
            z-index: 0;
        } */

        .ui.popup {
            min-width: 200px;
            max-width: 400px;
        }

        #CONTROL-PANEL {
            top: 1vh;
            right: 1vw;
            position: absolute;
        }


        #CHAT-LOG-SEGMENT {
            right: 1vw;
            bottom: 1vh;
            width: auto;
            position: absolute;
           height: auto;
        }


        #CHAT-LOG-AREA {
            width: 95%;
            position: absolute;
            top: 0.5rem;
            overflow: auto;
            bottom: 4rem;
        }
        #CHAT-INPUT-AREA {
            position: absolute;
            left: 0.8rem;
            right: 0.8rem;
            bottom: 0.5rem;
        }

        @media (max-height: 600px) {
            #CONTROL-PANEL {
                height: 49vh;
                overflow: auto;
            }
            #CHAT-LOG-SEGMENT {
                top: 50vh;
            }
        }
        @media (min-height: 600px) {
            #CONTROL-PANEL {
                height: 440px;
            }
            #CHAT-LOG-SEGMENT {
                top: 444px;
            }
        }

        .area, .fbs-card, .sakura-token, .fbs-vigor-card, .withered-token {
            position: absolute !important;
        }

        .fbs-card{
            box-sizing: content-box;
        }
        
        .fbs-card:hover,
        .fbs-card.over,
        .clickable:hover,
        .focused{
            filter: drop-shadow(0 0 3px #7098ff);
        }

        .clickable:hover.plan-token{
            filter: drop-shadow(0 0 6px #7098ff);
        }

        #BOARD{
            height: 100%;
        }
        #BOARD-PLAYAREA{
            height: 100%;

            /* from https://www.softel.co.jp/blogs/tech/archives/2909/comment-page-1 */
            user-select: none; /* CSS3 */
            -moz-user-select: none; /* Firefox */
            -webkit-user-select: none; /* Safari、Chromeなど */
            -ms-user-select: none; /* IE10かららしい */
        }

        .fbs-vigor-card .vigor0.clickable:hover,
        .fbs-vigor-card .vigor1.clickable:hover,
        .fbs-vigor-card .vigor2.clickable:hover{
            box-shadow: 0 0 2px 1px #7098ff;
        }
        .fbs-card.selected{
            border: 2px solid rgb(0, 100, 255) !important;
        }

        .fbs-card {
            width: 100px;
            height: 140px;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 4px;
        }

        .rotated {
            transform: rotate(90deg);
        }
        .reverse-rotated {
            transform: rotate(-90deg);
        }
        .opponent-side {
            transform: rotate(180deg);
        }
        .opponent-side.rotated,
        .opponent-side.open-normal.rotated {
            transform: rotate(270deg);
        }
        .opponent-side.reverse-rotated {
            transform: rotate(90deg);
        }

        .opponent-side.open-normal {
            transform: none;
        }
        
        /* カード名 */
        .fbs-card.open-normal .card-name,
        .fbs-card.open-special .card-name {
            position: absolute;
            left: 2px;
            top: 2px;
        }
        .fbs-card.opponent-side.open-normal .card-name,
        .fbs-card.opponent-side.open-special .card-name {
            position: absolute;
            top: auto;
            left: auto;
            right: 2px;
            bottom: 2px;
            text-align: right;
        }

        .sakura-token {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/others/sakura_token_ghost1.png);
            z-index: 200;
        }

        .fbs-card.open-normal, .fbs-card.open-special {
            background-color: rgb(219, 235, 245);
            border: 1px solid rgb(195, 208, 216);
        }

        .fbs-card.back-normal {
            background-image: url(http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/furuyoni_na/cards/cardback_normal_emboss.png);
        }

        .fbs-card.back-special {
            background-image: url(http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/furuyoni_na/cards/cardback_special_emboss.png);
        }
        .fbs-card.back-poison {
            background-image: url(http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/furuyoni_na/cards/cardback_poison.png);
        }
        .fbs-vigor-card {
            width: 140px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/furuyoni_na/cards/vigor.png);
        }
        .withered-token {
            width: 140px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/furuyoni_na/board_token/shrink.png);
        }
        .area.background {
            z-index: -1;
            margin: 0;
        }

        .area.droppable {
            z-index: -999;
        }

        .area.background.over {
            background: rgb(239, 249, 252);
        }
        .area.background.over-forbidden {
            background: rgb(255, 230, 230);
        }
        
        .area.used {
            left: 0px;
            top: 80px;
            width: 450px;
            height: 150px;
        }

        .area.hidden-used {
            left: 470px;
            top: 80px;
            width: 170px;
            height: 140px;
        }

        .area.library {
            left: 720px;
            top: 80px;
            width: 160px;
            height: 160px;
        }


        .area.vigor {
            left: 900px;
            top: 90px;
            width: 140px;
            height: 140px;
        }
        .fbs-vigor-card .vigor0 {
            width: 30px;
            height: 100px;
            left: 0;
            z-index: 9999;
            position: absolute;
        }
        .fbs-vigor-card .vigor1 {
            width: 140px;
            height: 30px;
            top: 0;
            left: 0;
            z-index: 9999;
            position: absolute;
        }
        .fbs-vigor-card .vigor2 {
            width: 30px;
            height: 100px;
            right: 0;
            z-index: 9999;
            position: absolute;
        }

        .area.hand {
            top: 250px;
            width: 700px;
            height: 150px;
        }


        .area.special {
            top: 250px;
            left: 720px;
            width: 330px;
            height: 150px;
        }


        .area.sakura-token-region {
            height: 30px;
        }

        .area.sakura-token-region .draw-region {
            position: absolute;
            top: 0;
            height: 100%;
            left: 4em;
        }
        .area.distance {
            left: 0;
            top: 0px;
            width: 400px;
        }

        .area.distance.background {
            border: 1px silver solid;
        }

        .area.dust {
            left: 0;
            top: 40px;
            width: 400px;
        }

        .area.dust.background {
            border: 1px gray solid;
        }

        .area.aura {
            left: 500px;
            top: 410px;
            width: 250px;
        }

        .area.aura.background {
            border: 1px rgb(211, 202, 78) solid;
        }

        .area.life {
            left: 500px;
            top: 450px;
            width: 400px;
        }

        .area.life.background {
            border: 1px rgb(241, 173, 153) solid;
        }

        .area.flair {
            left: 500px;
            top: 490px;
            width: 400px;
        }

        .area.flair.background {
            border: 1px rgb(253, 58, 52) solid;
        }

        .area-title {
            position: absolute;
            font-size: medium;
            color: silver;
            z-index: 5000;
        }
        .card-count {
            position: absolute;
            font-size: x-large;
            color: silver;
            font-weight: bold;
            z-index: 5000;
            right: 8px;
            bottom: 8px;
        }
        .sakura-token-count {
            position: absolute;
            font-size: medium;
            color: silver;
            font-weight: bold;
            z-index: 5000;
            right: 8px;
            bottom: 8px;
        }

        #ACTION-LOG-WINDOW{
            position: absolute;
            width: 20%;
            height: 80%;
        }

        #ACTION-LOG-AREA {
            width: 100%;
            height: 95%;
            overflow: scroll;
        }


        .dragging {
            opacity: 0.4;
        }

        .ui.basic.button.focused-button, .ui.basic.buttons .button.focused-button {
            color: blue !important;
        }

        #toast-container>div{
            width: 400px;
        }

        .card-type-attack { color: red; font-weight: bold; }
        .card-type-action { color: blue; font-weight: bold; }
        .card-type-enhance { color: green; font-weight: bold; }
        .card-type-variable { color: gray; font-weight: bold; }
        .card-type-reaction { color: purple; font-weight: bold; }
        .card-type-fullpower { color: #E0C000; font-weight: bold; }
    </style>
</head>
<body>

<div id="BOARD">

</div>

<!-- <div id="CONTROL-PANEL">
        <button class="ui basic button">直前の操作を取り消す</button>
            <button class="ui basic button" id="TURN-END-BUTTON">ターン終了</button>
            <button class="ui basic button" id="ACTION-LOG-DISPLAY-BUTTTON">ログを表示</button>
            <button class="ui basic button" id="CHAT-LOG-DISPLAY-BUTTTON">チャットを表示</button>
            <div class="ui basic buttons">
                <button class="ui button">前進</button>
                <button class="ui button">離脱</button>
                <button class="ui button">後退</button>
                <button class="ui button">纏い</button>
                <button class="ui button">宿し</button>
            </div>
    <div>
            <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" name="example1" class="hidden">
                    <label>オーラ最大値無限</label>
                  </div>
                  <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" name="example2" class="hidden">
                        <label>集中力最大値無限</label>
                      </div>

                      <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Label</label>
                          </div>
                      <button class="ui basic button">ゲーム外のカードを加える</button><br>
                      <button class="ui basic button" id="MEGAMI-SELECT-BUTTON">メガミ選択</button>
                      <button class="ui basic button disabled" id="DECK-BUILD-BUTTON">デッキ構築</button>
                      <button class="ui basic button disabled" id="HAND-SET-BUTTON">最初の手札を引く</button>
    </div>

    <table class="ui definition table" style="width: 25em;">
            <tbody>
              <tr>
                <td class="collapsing">プレイヤー1</td>
                <td id="P1-NAME"></td>
              </tr>
              <tr>
                <td>プレイヤー2</td>
                <td id="P2-NAME"></td>
              </tr>
              <tr>
                <td>観戦者</td>
                <td></td>
            </tr>
          </tbody></table>

</div>
<div id="ACTION-LOG-WINDOW" class="ui segment draggable ui-widget-content resizable">
    <div class="ui top attached label">ログ</div>
    <div id="ACTION-LOG-AREA"></div>
</div>
<div id="CHAT-LOG-WINDOW" class="ui segment draggable ui-widget-content resizable">
    <div class="ui top attached label">チャット</div>
    <div id="CHAT-LOG-AREA"></div>
    <div>
        <form class="ui form">
            <div class="fields">
                <div class="field" style="width: 80%;">
                    <input type="text" name="body">
                </div>
                <div class="field" style="width: 20%;">
                <button class="ui button" id="CHAT-SEND-BUTTON">送信</button>
                </div>
            </div>
        </form>
    </div>
</div> -->

<div class="ui modal tiny" id="MESSAGE-MODAL">
    <div class="scrolling content">
        <div class="description">
        </div>

    </div>
    <div class="actions">
        <div class="ui positive labeled icon button">
        OK
        <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui modal" id="ABOUT-MODAL">
        <div class="header">ふるよにボードシミュレーターについて</div>
    <div class="scrolling content">
        <p>
        ふるよにボードシミュレーター α版 (version 0.1.0)<br>
        制作: ポン (<a href="https://twitter.com/tetradice" target="_blank">Twitter</a>)<br>
        <br>
        このWebサービスは開発中のものです。<br>
        意見、要望、感想、バグ報告などは、<a href="https://twitter.com/tetradice" target="_blank">Twitter</a>か、<a href="https://disboard.org/ja/server/444124341849030666" target="_blank">Discordサーバー「ふるよにミカン」</a>、もしくは<a href="https://its.morphball.net/projects/furuyoni_simulator/issues/new?issue[subject]=%EF%BC%88%E5%85%A5%E5%8A%9B%E4%B8%8D%E8%A6%81%EF%BC%89" target="_blank">要望・バグ報告ポスト</a>までお送りください。
        </p>
        <p><strong>ライセンス情報:</strong></p>
        <ul>
            <li><a href="https://main-bakafire.ssl-lolipop.jp/furuyoni/na/rule.html" target="_blank">ふるよにコモンズ</a>
                <ul>
                    <li>制作: BakaFire,TOKIAME</li>
                    <li>ライセンス: <a href="https://main-bakafire.ssl-lolipop.jp/furuyoni/na/rule.html" target="_blank">https://main-bakafire.ssl-lolipop.jp/furuyoni/na/rule.html</a></li>
                </ul>
            </li>
            <li><a href="https://jquery.com/" target="_blank">JQuery</a>
                <ul>
                        <li>制作: jQuery Foundation</li>
                        <li>ライセンス: <a href="https://jquery.org/license/" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="https://semantic-ui.com/" target="_blank">Semantic UI</a>
                <ul>
                        <li>制作: Jack Lukic</li>
                        <li>ライセンス: <a href="https://github.com/Semantic-Org/Semantic-UI/blob/master/LICENSE.md" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="http://www.toastrjs.com" target="_blank">Toastr</a>
                <ul>
                        <li>制作: John Papa, Tim Ferrell and Hans Fjällemark</li>
                        <li>ライセンス: <a href="https://github.com/CodeSeven/toastr/blob/master/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="http://socket.io/" target="_blank">socket.io</a>
                <ul>
                        <li>制作: Automattic</li>
                        <li>ライセンス: <a href="https://github.com/socketio/socket.io/blob/master/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="http://redis.js.org/" target="_blank">redis - a node.js redis client</a>
                <ul>
                        <li>制作: NodeRedis</li>
                        <li>ライセンス: <a href="https://github.com/NodeRedis/node_redis/blob/master/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="https://github.com/klughammer/node-randomstring" target="_blank">randomstring</a>
                <ul>
                        <li>制作: Elias Klughammer</li>
                        <li>ライセンス: <a href="https://github.com/klughammer/node-randomstring/blob/master/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="http://momentjs.com/" target="_blank">moment.js</a>
                <ul>
                        <li>制作: Iskren Ivov Chernev</li>
                        <li>ライセンス: <a href="https://github.com/moment/moment/blob/develop/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="https://lodash.com/" target="_blank">Lodash</a>
                <ul>
                        <li>制作: JS Foundation and other contributors</li>
                        <li>ライセンス: <a href="https://github.com/lodash/lodash/blob/master/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="http://swisnl.github.io/jQuery-contextMenu/" target="_blank">jQuery contextmenu</a>
                <ul>
                        <li>制作: SWIS BV</li>
                        <li>ライセンス: <a href="https://github.com/swisnl/jQuery-contextMenu/blob/master/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="http://expressjs.com/" target="_blank">Express</a> 
                <ul>
                        <li>制作: TJ Holowaychuk, Roman Shtylman and Douglas Christopher Wilson</li>
                        <li>ライセンス: <a href="https://github.com/expressjs/express/blob/HEAD/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="https://github.com/jorgebucaran/hyperapp" target="_blank">hyperapp</a> 
                <ul>
                        <li>制作: Jorge Bucaran</li>
                        <li>ライセンス: <a href="https://github.com/jorgebucaran/hyperapp/blob/master/LICENSE.md" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="http://ejs.co/" target="_blank">EJS</a> 
                <ul>
                        <li>制作: Matthew Eernisse</li>
                        <li>ライセンス: <a href="http://www.apache.org/licenses/" target="_blank">Apache License Version 2.0</a></li>
                </ul>
            </li>
            <li><a href="https://webpack.js.org/" target="_blank">webpack and plugins (css-loader, style-loader)</a>
                <ul>
                        <li>制作: Tobias Koppers @sokra</li>
                        <li>ライセンス: <a href="https://github.com/webpack/webpack/blob/master/LICENSE" target="_blank">MIT</a></li>
                </ul>
            </li>
            <li><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
                <ul>
                        <li>制作: Microsoft Co.</li>
                        <li>ライセンス: <a href="https://github.com/Microsoft/TypeScript/blob/master/LICENSE.txt" target="_blank">Apache License</a></li>
                </ul>
            </li>
            <li><a href="https://github.com/s-panferov/awesome-typescript-loader/" target="_blank">awesome-typescript-loader</a>
                <ul>
                        <li>制作: Stanislav Panferov</li>
                        <li>ライセンス: <a href="https://github.com/s-panferov/awesome-typescript-loader/blob/master/LICENSE.md" target="_blank">MIT</a></li>
                </ul>
            </li>


        </ul>

    </div>
    <div class="actions">
        <div class="ui positive labeled icon button">
        OK
        <i class="checkmark icon"></i>
        </div>
    </div>
</div>


<div class="ui modal tiny" id="INPUT-MODAL">
        <div class="content">
            <div class="description">
                <div class="description-body"></div>
                    <div class="ui input">
                            <input style="width: 20em;">
                        </div>
            </div>
    
        </div>
        <div class="actions">
            <div class="ui positive labeled icon button">
            確定
            <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

<div class="ui modal tiny" id="CONFIRM-MODAL">
    <div class="content">
        <div class="description">
        </div>
    </div>
    <div class="actions">
            <div class="ui positive labeled icon button">
                はい
                <i class="checkmark icon"></i>
            </div>
            <div class="ui black deny button">
                いいえ
            </div>
        </div>
</div>
<div class="ui modal" id="MEGAMI-SELECT-MODAL">
    <div class="content">
        <div class="description" style="margin-bottom: 2em;">
            <p>使用するメガミを2柱選択してください。</p>
        </div>
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <select id="MEGAMI1-SELECTION" name="megami1">
                        <option value=""></option>
                    </select>
                </div>
                <div class="field">
                    <select id="MEGAMI2-SELECTION" name="megami2">
                            <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="ui error message"></div>
        </div>
        <p>※現在のα版では、サリヤとアナザーメガミは選択できません。<p>
    </div>

    <div class="actions">
        <div class="ui positive labeled icon submit button disabled">
            決定
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button">
            キャンセル
        </div>
    </div>
</div>

<div id="DECK-BUILD-MODAL">
</div>
<div id="MARIGAN-MODAL">
</div>

<!-- ドラッグ時のghost画像は、他パネルの下に隠して配置 (ロード完了後に表示する) -->
<div class="drag-ghost" id="sakura-token-ghost-1" style="display: none; width: 80px; height: 26px; z-index: -9999; position: absolute; left: 380px; top: 380px;">
    <img src="http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/others/sakura_token_ghost1.png" width="26" height="26">
</div>
<div class="drag-ghost" id="sakura-token-ghost-2" style="display: none; width: 80px; height: 26px; z-index: -9999; position: absolute; left: 380px; top: 380px;">
    <img src="http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/others/sakura_token_ghost2.png" width="35" height="26">
</div>
<div class="drag-ghost" id="sakura-token-ghost-3" style="display: none; width: 80px; height: 26px; z-index: -9999; position: absolute; left: 380px; top: 380px;">
    <img src="http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/others/sakura_token_ghost3.png" width="43" height="26">
</div>
<div class="drag-ghost" id="sakura-token-ghost-4" style="display: none; width: 80px; height: 26px; z-index: -9999; position: absolute; left: 380px; top: 380px;">
    <img src="http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/others/sakura_token_ghost4.png" width="52" height="26">
</div>
<div class="drag-ghost" id="sakura-token-ghost-5" style="display: none; width: 80px; height: 26px; z-index: -9999; position: absolute; left: 380px; top: 380px;">
    <img src="http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/others/sakura_token_ghost5.png" width="61" height="26">
</div>
<div class="drag-ghost" id="sakura-token-ghost-many" style="display: none; width: 72px; height: 26px; z-index: -9999; position: absolute; left: 380px; top: 380px;">
    <img src="http://inazumaapps.info/furuyoni_simulator/deliv/furuyoni_commons/others/sakura_token_ghost5.png" width="61" height="26">
    <div class="count" style="position: absolute; right: 2px; bottom: 2px; font-size: medium; color: silver; font-weight: bold; ">4</div>
</div>

<script type="text/javascript">
    var params = {tableId: '<%= tableId %>', side: '<%= side %>'};
    // グローバル変数初期化
    var draggingFrom = null;
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://inazumaapps.info/furuyoni_simulator/deliv/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://inazumaapps.info/furuyoni_simulator/deliv/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="http://inazumaapps.info/furuyoni_simulator/deliv/semantic/dist/semantic.js"></script>
<script type="text/javascript" src="/jquery-contextmenu/dist/jquery.ui.position.js"></script>
<script type="text/javascript" src="/jquery-contextmenu/dist/jquery.contextMenu.min.js"></script>
<script type="text/javascript" src="/semantic-ui-range/range.js"></script>
<script type="text/javascript" src="/dist/main.js"></script>
</body>
</html>