<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127139577-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127139577-1');
</script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ふるよにボードシミュレーター α版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//inazumaapps.info/furuyoni_simulator/deliv/semantic/dist/semantic.min.css">
    <style type="text/css">
      body {
        background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
        margin-right: 1.5em;
      }
      .main.container {
        margin-top: 7em;
      }
      .wireframe {
        margin-top: 2em;
      }
      .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
      }
      </style>
  </head>
  <body>
      <div class="ui fixed menu">
          <div class="ui container">
            <div class="header item">
                ふるよにボードシミュレーター β版　<span style="color: silver">(ver <%= version %>)</span>
            </div>
          </div>
        </div>
        <div class="ui main container">
          <div class="ui huge loader"></div>
          <div class="ui grid">
            <div class="eight wide column">
              <button class="ui primary button" id="NEW-BOARD-BUTTON">新しい卓を作る</button>
              <p>新しい卓を作り、自分や他の人が参加できる状態にします。<br>（ユーザー登録は不要です）</p>
        
              <div class="ui segment" id="RESULT-AREA" style="display: none; overflow: auto;">
                <p>新しい卓を作成しました。下記のURLにアクセスすることで、決闘への参加や観戦が可能です。</p>
                <table class="ui definition table">
                  <tbody>
                    <tr>
                      <td class="collapsing">プレイヤー1の参加用URL</td>
                      <td><a id="P1-URL" href="#" target="_blank"></a></td>
                    </tr>
                    <tr>
                      <td>プレイヤー2の参加用URL</td>
                      <td><a id="P2-URL" href="#" target="_blank"></a></td>
                    </tr>
                    <tr>
                      <td>観戦用URL</td>
                      <td><a id="WATCH-URL" href="#" target="_blank"></a></td>
                    </tr>
                  </tbody>
                </table>
        
              </div>

              <div class="ui segment" id="HISTORY-AREA" style="margin-top: 4em;">
                <h4 class="ui header">これまでに作成した卓の履歴</h4>
                <p id="HISTORY-NO-DATA-DESC" style="display: none;">作成した卓はありません。</p>
                <div class="ui styled accordion" style="display: none;">
                </div>
                <div class="ui divider"></div>
                <p style="font-size: small;">※履歴はPC（端末）ごとに記録されており、ほかの人には見えません。</p>
              </div>
            </div>
            <div class="one wide column">
            </div>
            <div class="seven wide column">
              <h3 class="ui dividing header" style="margin-top: 4em;">
                必要環境
              </h3>
              <p>
                <strong>PC版のブラウザ （Google Chrome, Edge, FireFox, Opera）</strong><br>
                ※Google Chrome推奨<br>
                <br>
                Internet Explorer、タブレット、スマホには対応しておりません。
              </p>
        
              <h3 class="ui dividing header" style="margin-top: 3em;">
                ふるよにボードシミュレーターとは
              </h3>
              <p>
                　PCのブラウザから遊べる、ボードゲーム「<a href="https://main-bakafire.ssl-lolipop.jp/furuyoni/">桜降る代に決闘を</a>」のシミュレーターです。<br>
                　オンラインでの対戦や観戦が可能なため、友達との対戦に使用することができます。また、1人で2つの画面を開くことで、1人盤回しに使用することも可能です。
              </p>
              <p><a href="//inazumaapps.info/furuyoni_simulator/deliv/WS000609.PNG"><img src="//inazumaapps.info/furuyoni_simulator/deliv/WS000609.PNG" style="width: 100%; border: 1px solid silver;"></a></p>
              <p>
                　ただし、これはあくまで「シミュレーター」で、<strong>対戦ツールではない</strong>ことにご注意ください。そのため、既存の対戦ツールと比べると、ルールや盤上の管理はあまり自動でやってくれません。（カードや桜花結晶の移動、攻撃したときのライフ減少などは、プレイヤーが自分でやる必要があります）
              </p>
              <p>
                　また、上記の性質から、対戦を円滑に進めるためにDiscordなどによるボイスチャットの使用をお薦めします。
              </p>
              <p>
                　対戦相手を探したい場合は、下記のDiscordサーバーもご利用ください。
                <ul>
                <li><a href="https://disboard.org/ja/server/444124341849030666" target="_blank">ふるよにミカン</a> (ポン運営 / 雑談あり、雰囲気ゆるめのサーバー)</li>
                <li><a href="https://twitter.com/tot8109/status/994176939962187776" target="_blank">ふるよに熱帯部屋</a> (totさん運営 / ネット対戦人口多め。BGEngineによる対戦も行われています)</li>
              </ul>
              </p>
          
              <h3 class="ui dividing header" style="margin-top: 3em;">
                現在のバージョン（β版）についての注意
              </h3>
              <ul>
                <li>現在のβ版では、新幕シーズン3に存在する全14柱のメガミ（アナザーメガミ含む）を使用可能です。（はじまりの決闘のホノカとウツロは使用できません）</li>
                <li>試作中のバージョンのため、未完成部分やバグが多数含まれている可能性があります。</li>
                <li>開発およびサポートは、公式のデジタルゲーム版がリリースされるまでは継続されます。それ以降は予告なく中止される可能性があります。</li>
              </ul>
        
              <h3 class="ui dividing header" style="margin-top: 3em;">
                連絡先
              </h3>
              <p>意見、要望、感想、バグ報告などは、下記のどれかまでお送りください。</p>
              <ul>
                <li><a href="https://twitter.com/tetradice" target="_blank">制作者（ポン）のTwitter</a></li>
                <li><a href="https://disboard.org/ja/server/444124341849030666" target="_blank">Discordサーバー「ふるよにミカン」</a></li>
                <li><a href="https://its.morphball.net/projects/furuyoni_simulator/issues/new?issue[subject]=%EF%BC%88%E5%85%A5%E5%8A%9B%E4%B8%8D%E8%A6%81%EF%BC%89"
                    target="_blank">要望・バグ報告ポスト</a>　※ログイン不要</li>
              </ul>

              <h3 class="ui dividing header" style="margin-top: 3em;">
                更新履歴
              </h3>
              <dl>
              <dt>2018年12月11日 (火)</dt>
                <dd>β版 0.6.0をリリース
                  <ul>
                  <li>機能追加<ul>
                      <li><strong>シーズン3対応</strong><ul>
                        <li>選択可能なメガミに、第三章オボロ、第四章チカゲ、終章ウツロ、ホノカを追加</li>
                        <li>シーズン3でのカード更新内容を反映</li>
                        <li>ゲーム開始前にカードセット（シーズン2/3）の切り替えを行えるようにした</li>
                      </ul></li>
                      <li>カードにマウスカーソルを当てて説明を表示した場合に、それが追加札であれば追加元のカード名を表示するようにした（例：でゅーぷりぎあであれば「いんだすとりあ」が追加元</li>
                      <li>メニューからカードリストを表示したとき、追加札の場合は「≫ でゅーぷりぎあ」形式で名前を表示するようにした</li>
                    </ul>
                  </li>

                    <li>修正<ul>
                        <li>自分がライラを宿していて相手がライラを宿していない場合に、相手の使用済みカードを右クリックすると帯電解除操作が行えてしまう不具合を修正</li>
                        <li>その他、細部の不具合修正</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              <dt>2018年11月25日 (日)</dt>
                <dd>β版 0.5.0をリリース　※動作が比較的安定してきたため、今回から「α版」ではなく「β版」としました
                  <ul>
                  <li>機能追加<ul>
                      <li><strong>メニューから全メガミのカードリストを参照できるようにした</strong></li>
                      <li>手札/集中力の右クリックメニューから、「伏せ札にして基本動作」「集中力を使用して基本動作」を行えるようにした</li>
                      <li>オーラ/ライフにある桜花結晶の右クリックメニューから、ダメージ操作を行えるようにした</li>
                    </ul>
                  </li>

                    <li>修正<ul>
                      <li>カードが封印されている状態で再構成をしようとした際のエラーメッセージ（「先に封印されているカードを取り除いてください。」）表示時に、カードの取り除き方を補足するようにした</li>
                      <li>ブラウザのウインドウサイズが小さい状態で、画面の下付近にあるカードにマウスカーソルを合わせた場合に、カードの説明（ポップアップ）が表示されない場合がある不具合を修正</li>
                        <li>その他、細部の不具合修正</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
                <dt>2018年11月13日 (火)</dt>
                  <dd>α版 0.4.1をリリース
                    <ul>
                      <li>修正<ul>
                          <li>画面がはみ出ていないにもかかわらず、初期状態で縦スクロールバーが表示されていた不具合を修正</li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dt>2018年11月11日 (日)</dt>
                  <dd>α版 0.4.0をリリース
                    <ul>
                      <li>機能追加など<ul>
                          <li><strong>FireFox、Operaブラウザに対応</strong></li>
                          <li>最初の手札の引き直し時に、2枚以上のカードを山札の底に戻す場合、どの順序で置くか任意に選べるようにした</li>
                          <li>一部の切札のみ、右クリックすることで、ゲームから取り除く操作を行えるようにした（神渉装置:枢式、風魔招来孔、灰滅などが該当）</li>
                          <li>相手の手札で右クリックすることで、相手の手札を無作為に選んで捨てられるようにした（砂風塵用）</li>
                          <li>メニューに「卓から離れる（トップページへ戻る）」ボタンを追加</li>
                          <li>デッキ構築中の、メガミのフェイスアップ画像表示位置を微調整（カードとメガミの画像が重なりすぎないようにした）</li>
                        </ul>
                      </li>
                      <li>修正<ul>
                          <li>計略トークンの上にマウスカーソルを合わせた場合、計略の状態が相手プレイヤーや観戦者からも見えてしまう不具合を修正（自プレイヤー側のみ表示できるように修正した）</li>
                          <li>浮舟宿の即再起テキストに誤記があったため修正　「あなたのライフが3以下である。」→「あなたのライフが3以下になる。」</li>
                          <li>その他、細部の不具合修正</li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dt>2018年11月4日 (日)</dt>
                  <dd>α版 0.3.3をリリース
                    <ul>
                      <li>修正<ul>
                          <li>メガミを公開していない状態で、メガミのフェイスアップ画像が相手プレイヤーや観戦者側に見えてしまう不具合を修正</li>
                          <li>圧気の納が2ではなく4となっていた不具合を修正</li>
                          <li>カードを封印した状態の切札を裏向きに戻す操作を、誤って禁止していた不具合を修正（いんだすとりあの下にカードを封印した状態で裏向きに戻せる必要があるため、この操作は禁止してはいけない）</li>
                          <li>桜花結晶をドラッグで移動時に、常に「相手の桜花結晶を移動しました」と表示される不具合を修正</li>
                          <li>その他、細部の不具合修正</li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dt>2018年11月3日 (土)</dt>
                  <dd>α版 0.3.2をリリース
                    <ul>
                      <li>修正<ul>
                          <li>トコヨの一部カードに「対応」サブタイプが付いていなかった重大な不具合を修正</li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                <dt>2018年10月29日 (月)</dt>
                <dd>α版 0.3.1をリリース
                  <ul>
                    <li>修正<ul>
                        <li>アナザーを持つメガミの場合、通常メガミを選択していてもアナザーのカードが表示されてしまう不具合を修正</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
                <dt>2018年10月28日 (日)</dt>
                <dd>α版 0.3.0をリリース
                  <ul>
                    <li>機能追加<ul>
                        <li><strong>サリヤとアナザーメガミ (4柱) を選択できるようにした</strong></li>
                        <li><strong>ボード上にメガミのフェイスアップ画像を表示するようにした。</strong>メニューから「設定」を選ぶことで、表示をオフにすることも可能です</li>
                        <li>各桜花結晶の領域（オーラ、ライフ、間合など）に、現在置かれている桜花結晶の数を表示するようにした</li>
                      </ul>
                    </li>
                    <li>修正<ul>
                        <li>カードを山札にドラッグした際に、山札の底に戻せない不具合を修正（主にトコヨの要返しに影響）</li>
                        <li>山札が0枚になると、山札の右クリックで再構成できないようになる不具合を修正</li>
                        <li>ライラのカードを使用後に帯電解除できてしまう不具合を修正</li>
                        <li>画面サイズによっては、「ボードサイズ」の選択ボックスが画面外に出て押下できなくなる不具合を修正</li>
                        <li>誤って「畏縮」ではなく「萎縮」と表記していた箇所を修正</li>
                        <li>メイン処理でシステムエラー発生時に、エラーダイアログを表示するように修正（以前は何も表示せずに画面処理が止まっていた）</li>
                        <li>その他、細部の不具合修正</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
                <dt>2018年10月20日 (土)</dt>
                <dd>α版 0.2.0をリリース
                  <ul>
                  <li><strong>「ふるよにミニクイズ」機能を追加。</strong>メニューから「ふるよにミニクイズ」を選択することで、ちょっとしたクイズで待ち時間をつぶすことができます</li>
                  <li>サイネの返し刃に「対応」がついていなかった不具合を修正</li>
                  </ul>
                </dd>
                <dt>2018年10月14日 (日)</dt>
                <dd>α版 0.1.0をリリース</dd>
              </dl>
            </div>
          </div>

    <p id='server-time'></p>
    <script type="text/javascript" src="//inazumaapps.info/furuyoni_simulator/deliv/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="//inazumaapps.info/furuyoni_simulator/deliv/semantic/dist/semantic.js"></script>
    <script>
      // var socket = io();
      // var el = document.getElementById('server-time');
      // socket.on('time', function(timeString) {
      //   el.innerHTML = 'Server time: ' + timeString;
      // });

      $(function(){
        var tableHistory = JSON.parse(localStorage.getItem('tableHistory'));
        if(tableHistory === null) tableHistory = [];
        $('.ui.accordion').accordion({duration: 100});

        if(tableHistory.length >= 1){
          tableHistory.forEach(function(data){
            var dt = new Date(data.time);
            $('.ui.accordion').append('<div class="title"><i class="dropdown icon"></i>' + moment(dt).format('YYYY/M/D HH:mm:ss') + 'に作成した卓</div>');
            $('.ui.accordion').append('<div class="content">プレイヤー1の参加用URL: <a target="_blank" href="' + data.p1Url + '">' + data.p1Url + '</a><br />プレイヤー2の参加用URL: <a target="_blank" href="' + data.p2Url + '">' + data.p2Url + '</a><br />観戦用URL: <a target="_blank" href="' + data.watchUrl + '">' + data.watchUrl + '</a><br /></div>');
          });
          $('.ui.accordion').show();
        } else {
          $('#HISTORY-NO-DATA-DESC').show();
        }


        $('#NEW-BOARD-BUTTON').click(function(e){
          $('.ui.loader').addClass('active');

          $.post('/tables.create', function(data, textStatus){
            console.log(data);
            $('#P1-URL').text(data.p1Url).attr('href', data.p1Url);
            $('#P2-URL').text(data.p2Url).attr('href', data.p2Url);
            $('#WATCH-URL').text(data.watchUrl).attr('href', data.watchUrl);
            $('#RESULT-AREA').show();

            // 作った卓のURLをローカルストレージに記憶
            var pushedData = $.extend({}, data, {time: Date.now()});
            tableHistory.unshift(pushedData);
            localStorage.setItem("tableHistory", JSON.stringify(tableHistory));

            $('.ui.accordion').prepend('<div class="content">プレイヤー1の参加用URL: <a target="_blank" href="' + pushedData.p1Url + '">' + pushedData.p1Url + '</a><br />プレイヤー2の参加用URL: <a target="_blank" href="' + pushedData.p2Url + '">' + pushedData.p2Url + '</a><br />観戦用URL: <a target="_blank" href="' + pushedData.watchUrl + '">' + pushedData.watchUrl + '</a><br /></div>');
            $('.ui.accordion').prepend('<div class="title"><i class="dropdown icon"></i>' + moment(pushedData.time).format('YYYY/M/D HH:mm:ss') + 'に作成した卓</div>');

            $('.ui.loader').removeClass('active');

          });
        });
      });
    </script>
     </div>
  </body>
</html>