.modalTop {
    display: flex !important;
}

.outer {
    width: 100%;
    overflow: scroll;
    max-height: 320px;
    position: relative;
}

.cardArea {
    width: 1400px;
    height: 310px;
    position: relative;
}

.countCaption {
    margin-top: 1em;
    font-size: larger;
}

.commandButtons {
    margin-top: 1em;
}

.currentPhase {
    font-weight: bold;
}

.currentCardSet {
    color: silver;
    font-size: small;
    margin-left: 2em;
}

.cardSetChangeButton {
    margin-left: 1em !important;
}

