.correct,
.correctArea {
    color: forestgreen !important;
}
.correctArea {
    background-color: #b0ffb0 !important;
}

.incorrect,
.incorrectArea {
    color: #d00000 !important;
}

.incorrectArea {
    background-color: #ffd4d4 !important;
}

.quizWindow {
    position: absolute !important;
    width: 30em !important;
    height: 45em !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    z-index: 500 !important;
}